{% block lobby %}
	<div class="lobby"  id="lobby">
		<div class="row align-items-center">
			<div class="col-xl-3 col-md-9 d-flex justify-content-center">
				<!-- sidebar: users connecting to get ready to play -->
				<table class="table-responsive" style="color: #F0FFFF; background-color: #178CA8; border: 5px solid #F0FFFF; width: 80%; text-align: center; margin-top: 50px;">
					<thead> <tr> <th scope="col"> </th> </tr> </thead>
					<tbody>
						<!-- Column system to align imgf info.-->
						<tr class="table-active">
							<td colspan="2" class="table-active" style="font-size: 40px; margin: 30px; text-align: center;">Players</td>

						<!-- Player Box EXAMPLE  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
						</tr>
						<tr class="table-active">
							<td colspan="2" class="table-active">
								<div class="lobbyProfile" >
									<div class="infoLobby" id="lobbyProfile1">
										<img src="../../static/img/Celine4.png" class="playerImg" alt="player1" width="60" style="border: 3px outset white;
										border-radius: 50%;" id="imgPlayer1" loading="lazy">
										<div class="name" style="color: #f0ffff; font-size: 40px;" id="namePlayer1"> - - - </div>
									</div>
									<div class="infoLobby" id="lobbyProfile2">
										<img src="../../static/img/Celine1.png" class="playerImg" alt="player2" width="60" style="border: 3px outset white;
										border-radius: 50%;" id="imgPlayer2" loading="lazy">
										<div class="name" style="color: #f0ffff; font-size: 40px;" id="namePlayer2"> - - - </div>
									</div>
									<div class="infoLobby" id="lobbyProfile3">
										<img src="../../static/img/Celine2.png" class="playerImg" alt="player3" width="60" style="border: 3px outset white;
										border-radius: 50%;" id="imgPlayer3" loading="lazy">
										<div class="name" style="color: #f0ffff; font-size: 40px;" id="namePlayer3"> - - - </div>
									</div>
									<div class="infoLobby" id="lobbyProfile4">
										<img src="../../static/img/Celine3.png" class="playerImg" alt="player4" width="60" style="border: 3px outset white;
										border-radius: 50%;" id="imgPlayer4" loading="lazy">
										<div class="name" style="color: #f0ffff; font-size: 40px;" id="namePlayer4"> - - - </div>
									</div>
								</div>
							</td>
						</tr>
						<!-- BOUTON  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
						<tr class="table-active">
							<td colspan="2" class="table-active text-center">
								<button type="button" onclick="signal_player_ready()" class="btn align-items-center" style="background-color: #0E4870; color: #F0FFFF; font-size: 60px; margin: 30px;" id="startEngine" >READY?</button>
							</td>
						</tr>
						<!-- LOADING  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
						<tr class="table-active">
							<td colspan="2" class="table-active custom-spinner-container">
								<button class="btn btn-lg custom-spinner" id="custom-spinner" type="button" disabled>
									<span class="spinner-border spinner-border-sm" style="color: #F0FFFF;" aria-hidden="true"></span>
									<span role="status" style="color: #F0FFFF;"> Loading...</span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- TOURNAMENT OVERRIDING  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<div class="col-xl-9 col-md-3 d-flex justify-content-center" style="margin-bottom: 20px;">
				<div id="tournament" class="tournament" style="display: none;">
					{% include 'Tournament/tournament.html' %}
					<!-- GAME A INFO OVERRIDING  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<div class="col-xl-9 col-md-3 d-flex justify-content-center" style="margin-bottom: 20px;">
						<div id="gameA" class="game" style="display: block;">
							<div id="game-info-container">
								<button id="gameButtonA"  onclick="signal_final_game()" class="btn btn-primary">Game A</button>
								{% comment %}<canvas id="gameCanvas" class="flex-grow-1" style="background-color: #000000; width: 90%; height: 90%;"></canvas> {% endcomment %}
							</div>
						</div>
					</div>
					<!-- GAME B INFO OVERRIDING  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
					<!-- GAME C INFO OVERRIDING  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}
