<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src={% static 'js/game_creation.js' %}></script>
    {{ game_id|json_script:"game-id" }}
</head>
<body>
    <div>
        <form action="/game/creation/" method="post">
            {% csrf_token %}
            <label for="gameMode">Game Mode: </label>
            <input id="gameMode" type="text" name="gameMode"><br>
            <label for="gameType">Game Type: </label>
            <input id="gameType" type="text" name="gameType"><br>
            <label for="withAI">Allow AI: </label>
            <input id="withAI" type="checkbox" name="withAI"><br>
            <input type="submit" value="OK">
        </form>
    </div>
</body>
</html>
