{% block HeroDiv %}
	<div class="hall">
		<div class="row align-items-center">
			<div class="col d-flex justify-content-center mt-5">
				<img src="img/logoPingPangPong.png" alt="logo" class="logo-img img-fluid" width="600px" height="600px" loading="lazy"/> <!--added class="img-fluid" to make it responsive when screen size changes-->
			</div>
		</div>
		<div class="row align-items-center pt-5">
			<div class="col d-flex justify-content-center mt-2">
				<h2>🥳 Première visite? 🥳</h2>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col d-flex justify-content-center mt-2">
				<p>🤔 As-tu pris connaissances des règles/instructions?? 🤔<p>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col d-flex justify-content-center mt-2">
				<p>Lis la section Règles/Instructions AVANT de jouer!</p>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col d-flex justify-content-center mt-2">
				<i class="bi bi-exclamation-triangle me-1" style="color: red;"></i> ATTENTION! Rafraîchis la page et tu seras déconnecté.e! <i class="bi bi-exclamation-triangle ms-1" style="color: red;"></i>
			</div>
		</div>
	</div>
{% endblock %}