[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
django = "*"
psycopg2 = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"
django-oauth-toolkit = "*"
django-cors-headers = "*"
django-channels = "*"
channels = "*"
daphne = "*"
django-redis = "*"
django-bootstrap-v5 = "*"

[dev-packages]

[requires]
python_version = "3.10"
