/* HOME FOLDER Apply some basic styling to the TopBar */

/* Style the navigation ba60vhr */
#NavBar {

    /* navbar background */
    background-color: rgb(108, 114, 111);
    /* navbar text color */
    color: #fbff00;
    
    padding: 5px;
    display: flex;
    float: center;
    border: 2px solid #de1bd4;

}
/* Style the navigation links */
/* #NavBar ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

#NavBar ul li {
  margin: 0;
  padding: 0;
} */

/* Style the HeroDiv */
/* .HeroDiv {
    background-color: #717e49;
    color: #f0ffff;
    height: 90vh;
    float: center;
} */

/* .content1 and .content2 -> pas touche. display joue sur la façon de travailler en module */
.content1 {
    display: block;
}

.content2 {
    display: none;
}


#HeroDiv {
    background-color: #c300ff;
    height: 90vh;
}


#module2 {
    background-color: #0019fd;
    height: 90vh;
}


#module3 {
    background-color: #fde800;
    height: 90vh;
}


footer {
    background-color: #4cbe;
    color: #f0ffff;
    font-family: 'Nunito';
    font-size: 16px;
}
/* #HeroDiv img {
    width: auto; 
    height: auto;
    display: block;
    margin: 0 auto; 
} */
/* width: 66%; */


/* Add more styles as needed for your specific layout


