{% block championship %}
<div class="tournament" id="tournament">
	<div class="clearfix">
		<div class="row">
			<div class="col mx-auto">
				<div class="round semifinals">
					<div class="bracket-game">
						<div class="player top">
							<!-- To be change according to data from db -->
							<span> {{ namePlayer1 }} </span>
							<div class="score"> {{scoreP1}} </div>
						</div>
						<div class="player bottom">
							<!-- To be change according to data from db -->
							<span>{{ namePlayer2 }} </span>
							<div class="score"> {{scoreP2}} </div>
						</div>
					</div>
					<div class="bracket-game cont">
						<div class="player top">
							<!-- To be change according to data from db -->
							<span> {{ namePlayer3 }} </span>
							<div class="score"> {{scoreP3}} </div>
						</div>
						<div class="player bottom">
							<!-- To be change according to data from db -->
							<span>{{ namePlayer4 }} </span>
							<div class="score"> {{scoreP4}} </div>
						</div>
					</div>
				</div>
				<div class="connectors finals">
					<div class="top-line"></div>
					<div class="clear"></div>
					<div class="bottom-line"></div>
					<div class="clear"></div>
					<div class="vertical-line"></div>
					<div class="clear"></div>
					<div class="next-line"></div>
					<div class="clear"></div>
				</div>
				<div class="round finals">
					<div class="bracket-game">
						<div class="player top">
							<!-- To be change according to data from db -->
							<span> {{winner1}} </span>
							<div class="score"> {{scoreWinner1}} </div>
						</div>
						<div class="player bottom">
							<!-- To be change according to data from db -->
							<span> {{winner2}} </span>
							<div class="score"> {{scoreWinner2}} </div>
						</div>
					</div>
				</div>
				<div class="connectors winner">
					<div class="next-line"></div>
				</div>
				<div class="round winner">
					<div class="bracket-game">
						<div class="player">
							<!-- To be change according to data from db -->
							<span> {{winner}} </span>
							<div class="score"> {{scoreWinner}} </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="round losers">
					<div class="bracket-game">
						<div class="player top">
							<!-- To be change according to data from db -->
							<span> {{loser1}} </span>
							<div class="score"> {{scoreLoser1}} </div>
						</div>
						<div class="player bottom">
							<!-- To be change according to data from db -->
							<span> {{loser2}} </span>
							<div class="score">{{scoreLoser2}} </div>
						</div>
					</div>
				</div>
				<div class="connectors losers">
					<div class="next-line-loser"></div>
				</div>
				<div class="round winner">
					<div class="bracket-game">
						<div class="player">
							<!-- To be change according to data from db -->
							<span> {{bronzeWinner}} </span>
							<div class="score"> {{scoreBronze}} </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col winner text-center" style="background-color: #0e4870;">
				Gagnant: {{winner}}
			</div>
		</div>
	</div>
</div>
	
	
	
	
{% endblock %}