/* static/css/_variables.scss */

$navbar-text-color: #ff0000;  // Red text color
$topbar-background-color: #00ff00;  // Green background color
$primary: #4cbe96;
$secondary: #4cbe;
$success: #178ca8;
$danger: #145faf;
$warning: #3a8ad5;
$info: #242351;
$text: #f0ffff;

// background-color for our theme
$navbar: #145faf;
$herodiv: #178ca8;
$footer: #4cbe96;
$button: #0e4870;
$mosttext: #f0ffff; 
// font-family: Nunito


// raquet colours
$player1: #FF10F0;
$player2: #23e301;
$player3: #04d9ff;
$player4: #FF6700;
$player5: #B026FF;
$player6: #ffff00;


// CODE FOR LOADING SPINNER
// <button class="btn btn" style="background-color: #FF10F0;" type="button" disabled>
//   <span class="spinner-border spinner-border-sm" style="color: #F0FFFF;" aria-hidden="true"></span>
//   <span role="status" style="color: #F0FFFF;">Loading...</span>
// </button>

// <!DOCTYPE html>
// <html lang="en">
// <head>
//   <meta charset="UTF-8">
//   <meta name="viewport" content="width=device-width, initial-scale=1.0">
// 	<link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
//    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
//   <title>Spinner with Changing Background Color</title>
//   <style>
//     .custom-spinner {
//       animation: changeColor 2s linear infinite;
//     }

//     @keyframes changeColor {
//       0%, 100% {
//         background-color: #FF10F0;
//       }
//       50% {
//         background-color: #23e301;
//       }
//     }
//   </style>
// </head>
// <body>

// <button class="btn btn custom-spinner" type="button" disabled>
//   <span class="spinner-border spinner-border-sm" style="color: #F0FFFF;" aria-hidden="true"></span>
//   <span role="status" style="color: #F0FFFF;">Loading...</span>
// </button>

// </body>
// </html>