<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <!--><title>Home</title></-->
</head>
<body>
    {% block title %}<h1>This is the wrong title</h1>{% endblock %}
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <p>Selected user: <span id="selectedUser"></span></p>
    </div>
    
    <div id="butter">
        <h1>I can't believe it's not BUTTER !!</h1>
    </div>

    <button id="butterTrigger">ButterTime !</button>
    <script src={% static 'js/bootstrap.bundle.min.js' %}></script>
    <script src={% static 'js/home.js' %}></script>
</body>
</html>
