{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div id="TopBar">
        <!-- Content for the TopBar -->
        <!-- {% block topbar %}          {% endblock %} -->
            <!-- {% include "Login/login_form.html" %} -->
    </div>
    <div id="NavBar">
        <!-- Content for the NavBar -->
        {% block navbar %}     {% endblock %}
    </div>

    <div id="HeroDiv">
        <!-- {% block hero %}{% endblock %} -->
        <!-- Other content for the login page -->
    </div>
    
</body>
</html>
