{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div id="TopBar">
        <!-- Content for the TopBar -->
        <!-- {% block topbar %}       {% endblock %} -->
            {% include "Login/login_form.html" %}
    </div>
    <div id="NavBar">
        <!-- Content for the NavBar -->
        {% block navbar %}{% endblock %}
    </div>

    <div class="HeroDiv">
        <!-- Other content for the login page -->
        {% include "Logo/logo.html" %}
        <!-- <img src="{% static 'img/logo.png' %}" alt="Logo" /> -->
    </div>
    
</body>
</html>

<!-- <div id="HeroDiv">
    <!-- Content for the HeroDiv -->
    <!-- {% block hero %}
        LOGO GOES HERE
    {% endblock %} -->
<!-- </div> -->