
{% block navbar %}
<div class="row" id="navbarRow">
    <div class="col">
        <button type="button" onclick="showSubMenu('home')" class="btn btn-primary" style="background-color: #0e4870; color: #f0ffff" id="buttonModule0">Home</button>
    </div>    
    <div class="col">
        <button type="button" onclick="showSubMenu('info')" class="btn btn-primary" style="background-color: #0e4870; color: #f0ffff" id="buttonModule1">Info</button>
    </div>
    <div class="col">
        <button type="button" onclick="showSubMenu('remote')" class="btn btn-primary" style="background-color: #0e4870; color: #f0ffff" id="buttonModule2">Remote</button>
    </div>
    <div class="col">
        <button type="button" onclick="showSubMenu('local')" class="btn btn-primary" style="background-color: #0e4870; color: #f0ffff" id="buttonModule3">Local</button>
    </div>
    <div class="col">
        <button type="button" onclick="showSubMenu('login')" class="btn btn-primary" style="background-color: #0e4870; color: #f0ffff" id="buttonModule4">Login</button>
    </div>
</div>

{% endblock %}
