{% block module3 %}
<div class="module3" id="module3" >
	<div class="row">
        <button type="button" style="background-color: #0e4870; color: #f0ffff" id="ai">Me VS Robot</button>
    </div>
	<div class="row">
        <button type="button" style="background-color: #0e4870; color: #f0ffff" id="local">Me VS Friend</button>
    </div>
    <button class="btn" id="btn-start" type="button" onClick="startGame()" >Start Game</button>
    <button class="btn" id="btn-toggle-sound" onClick="toggleSound()">
    Sound Off
   </button>
   <canvas id="canvas" width="640" height="320" />
</div>

{% endblock %}
