/* static/css/styles.scss */

@import 'variables';

#NavBar{
    color: $navbar-text-color;
    background-color: $warning;
}

.TopBar {
    background-color: $danger;
}

#HeroDiv {
    background-color: $success;
}
