/* HOME FOLDER Apply some basic styling to the TopBar */

/* font-family to apply to all the body */
body {
    font-family: 'Nunito';
    font-size: 20px;
}

/* Style the navigation bar */
#NavBar {
    background-color: #145faf;
    color: #f0ffff;

}

#lobby canvas {
    border: solid 1px #000000;
}

.NavBar {
    background-color: #145faf; /* navbar will be this color */
    color: #f0ffff;
    font-family: 'Nunito';
    font-size: 15px;
}

#button {
    color: #0e4870
}

/* -- PROFILE CSS -- */
#profile {
    background-color: #178ca8;
    color: #f0ffff;

}

/* -- LOBBY CSS -- */
#lobby {
    background-color: #178ca8;
    color: #f0ffff;
}

.info {
    list-style-type: none; /* remove default bullet to be replaced by my stars*/
}

/* stars instead of bullet in profile */
.info li::before {
    content: "\2605";
    color: #f0ffff;
    font-size: 20px;
    margin-right: 0.5em;
}
/* -- END -- PROFILE CSS -- */


/* -- CONTENT CSS -- */
/* .content1 and .content2 -> pas touche. display joue sur la façon de travailler en module */
.content1 {
    display: block;
    background-color: #178ca8;
}

.content2 {
    display: none;
}


#HeroDiv {
    background-color: #178ca8; /*all "herodiv" will be this color */
    height: 90vh;
}

.logo-img {
    display: block; /* ensures the image is a block-level element*/
    margin: auto; /*centers the block-level element horizontally */
}

#HeroDiv h1 {
    color: #f0ffff;
    text-align: center;
}

#module2 {
    background-color: #178ca8;
    height: 90vh;
}


#module3 {
    background-color: #178ca8;
    height: 90vh;
}


footer {
    background-color: #4cbe96; /* footer color */
    color: #f0ffff;
    font-family: 'Nunito';
    font-size: 16px;
}
