/* static/css/styles.scss */

@import 'variables';

#NavBar{
    /* Styles for both class NavBar and ID navbar */
    color: $navbar-text-color;
    background-color: $warning;
    // border: 2px solid #3c0de5;
    /* Add any other styles as needed */
}

.TopBar {
    background-color: $danger;
}

#HeroDiv {
    background-color: $success;
}