Apply some basic styling to the TopBar */
#TopBar {
    background-color: #4e5054;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 100px;
}

/* Style the navigation bar */
#NavBar {
    background-color: #00ff62; /* Change the background color to suit your design */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 35%;
    height: auto;
    float: left;
}

/* Style the navigation links */
#NavBar ul {
    list-style: none;
    padding: 0;
    display: flex;
    /* gap: 20px; */
}

#NavBar ul li {
    margin: 0;
    padding: 0;
}

/* Style the HeroDiv */
#HeroDiv {
    background-color: #6a585f; /* Change the background color to suit your design */
    color: #fff;
    position: relative;
    padding: 120px;
    width: 65%;
    float: right;
}
#HeroDdiv img {
    /* width: 66%; */
    width: auto;
    height: auto;
    /* display: block; */
    /* margin: 0 auto; */
}


/* Add more styles as needed for your specific layout
