/* HOME FOLDER Apply some basic styling to the TopBar */

/* font-family to apply to all the body */
body {
    font-family: 'Nunito';
    font-size: 20px;
}

/* -- NAVBAR CSS -- */
#NavBar {
    background-color: #145faf;
    color: #f0ffff;
}

.NavBar {
    background-color: #145faf;
    color: #f0ffff;
    font-family: 'Nunito';
    font-size: 15px;
}

/* -- PROFILE CSS -- */
#profile {
    background-color: #178ca8;
    color: #f0ffff;
    font-size: 30px;
    height: 90vh;
}

.info {
    list-style-type: none;/* remove default bullet to be replaced by my stars*/
}

.info li:first-child {
    text-decoration: underline;
    list-style-type: none;
}

/* stars instead of bullet in profile */
.info li:not(:first-child)::before {
    content: "\2605";
    color: #f0ffff;
    font-size: 20px;
    margin-right: 0.5em;
}

.stats {
    list-style-type: none; /* remove default bullet to be replaced by my stars*/
}

.stats li:first-child {
    text-decoration: underline;
}
/* -- END -- PROFILE CSS -- */

/* -- LOBBY CSS -- */

#lobby {
    background-color: #178CA8;
    color: #F0FFFF;
    height: 90vh;
}

.main-canvas, .game-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

#lobby canvas {
    border: solid 1px #000000;
}


#lobby table {
    width: 100%;
    border-collapse: collapse;
}

#lobby td, #lobby th {
    padding: 10px;
    text-align: left;
}

#lobby .align-right {
    text-align: left; /* Align text and image to the left */
}
/* -- END -- LOBBY CSS -- */

/* -- LOGIN CSS -- */
#login {
    background-color: #178ca8;
    color: #f0ffff;
    height: 90vh;
}

.login h1, h4{
    color: #f0ffff;
    text-align: center;
    margin-top: 80px;
}

.login i{
    color: #a81717;
}
/* -- END -- LOGIN CSS -- */

/* -- GAME MODE CSS -- */
#mode {
    background-color: #178ca8;
    color: #f0ffff;
    height: 90vh;
}

.mode h1 {
    color: #f0ffff;
    text-align: center;
    margin-top: 80px;
}

#gameMode, #gameTypeLocal, #gameTypeOnline {
    background-color: #178ca8;
    color: #f0ffff;
    height: 90vh;
}

/* -- END -- GAME MODE CSS -- */

/* -- GAME TYPE CSS -- */
#type {
    background-color: #178ca8;
    color: #f0ffff;
    height: 90vh;
}

.type h1 {
    color: #f0ffff;
    text-align: center;
    margin-top: 80px;
}

/* -- END -- GAME TYPE CSS -- */

/* -- TOURNAMENT CSS -- */
.player, .score {
    font-size: 40px;
}

.score {
    background-color: #178ca8;
}

.round {
    float: left;
}

.round.finals {
    margin-top: 25px;
}

.bracket-game {
    max-width: 270px; /*to put everything on the same line*/
    margin: 20px 0;
}

.round.winner {
    margin-top: 49px;
    margin-left: 0px;
}

.player {
    min-width: 225px; /*boxes for the same size*/
    border: 1px solid #AAA;
    padding-left: 15px;
    background: #4cbe96;
}

.player.top {
    border-radius: 3px 3px 0 0;
}

.player.bottom {
    border-radius: 0 0 3px 3px;
}

.player, .score {
    display: inline;
    float: right;
    border-left: 1px solid #AAA;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Nunito';
    color: #f0ffff;
}

.connectors {
    float: left;
    min-width: 100px; /*move the finals and winner box*/ 
}

.connectors.finals .top-line {
    position: relative;
    top: 76px;
    width: 70px;
    border: 1px solid #AAA;

}

.connectors.finals .bottom-line {
    position: relative;
    top: 187px;
    width: 70px;
    border: 1px solid #AAA;
}

.connectors.finals .vertical-line {
    position: relative;
    top: 72px;
    left: -30px;
    height: 115px;
    border-right: 2px solid #AAA;

}

.connectors.finals .next-line {
    position: relative;
    top: -13px;
    left: 70px;
    width: 100px;
    border: 1px solid #AAA;
}

.clear {
    clear: both;
}

.connectors.winner .next-line {
    position: relative;
	top: 106px;
	left: 0px;
	width: 100px;
	border: 1px solid #AAA;
}

.connectors.losers .next-line-loser {
    position: relative;
	top: 81px;
	left: 0px;
	width: 100px;
	border: 1px solid #AAA;
}

.col.winner {
    font-family: 'Nunito';
    font-size: 40px;
    color: #f0ffff;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* -- END -- TOURNAMENT CSS -- */


.hall h1, h4{
    color: #F0FFFF;
    text-align: center;
    margin-top: 80px;
}

/* .content1 and .content2 -> pas touche. display joue sur la façon de travailler en module */
.content1 {
    display: block;
    /*background-color: #178ca8;*/
}

.content2 {
    display: none;
}


#HeroDiv {
    background-color: #178ca8; /*all "herodiv" will be this color */
    height: 90vh;
}

.logo-img {
    display: block; /* ensures the image is a block-level element*/
    margin: auto; /*centers the block-level element horizontally */
}

#HeroDiv h1 {
    color: #f0ffff;
    text-align: center;
    /* margin-top: 0.5rem; */
}

footer {
    /* background-color: #4cbe96; */
    color: #f0ffff;
    font-family: 'Nunito';
    font-size: 16px;
    padding: 24px 0;
}