{% extends 'master.html' %}


{% block content %}
    <h1>Login</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
        
            <!-- First Name -->
            <div class="form-group">
                <label for="id_first_name">First Name:</label>
                <input type="text" name="first_name" id="id_first_name" required>
            </div>

            <!-- Last Name -->
            <div class="form-group">
               <label for="id_last_name">Last Name:</label>
               <input type="text" name="last_name" id="id_last_name" required>
         </div>

            <!-- Email (with email validation) -->
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="email" name="email" id="id_email" required>
         </div>

            <!-- Password -->
            <div class="form-group">
              <label for="id_password">Password:</label>
               <input type="password" name="password" id="id_password" required>
            </div>

            <button type="submit">Log In</button>
        </form>
    </div>
{% endblock %}
