



<div class="visitors">
	<table class="table-primary" style="color: #f0ffff; background-color: #178ca8;">
		<thead>
			<tr>
				<th scope="col" class="text-center" style="color: #f0ffff">Username [playerLoginName]</th> <!--if I want to change the text color in table do it for each row-->
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center" style="color: #f0ffff">first in the list</td>
			</tr>
			<tr>
				<td class="text-center" style="color: #f0ffff">second in list...</td>
			</tr>
			<tr>
				<td class="text-center" style="color: #f0ffff">second in list...</td>
			</tr>
		</tbody>
	</table>
</div>