{% block aftergame %}
<div class="aftergame" id="aftergame">
    <div class="row align-items-center">
      <div class="col d-flex justify-content-center mb-3">
		    <div class="custom-card mt-20">
          <!-- FINISH -->
			    <h1 class="finish" id="finish" style="display: none;"><i class="bi bi-exclamation-circle"></i> FINAL: La partie est fini !!! <i class="bi bi-exclamation-circle"></i></h1>
          <!-- WINNER -->
			    <h1 class="winner" id="winner" style="display: none;"><i class="bi bi-trophy"></i> WINNER! <i class="bi bi-trophy"></i></h1>
          <!-- LOSER -->
			    <h1 class="loser" id="loser" style="display: none;"><i class="bi bi-cloud-lightning-rain"></i> MEILLEURE CHANCE LA PROCHAINE FOIS! <i class="bi bi-cloud-lightning-rain"></i></h1>
          <!-- CRASH -->
			    <h1 class="crash" id="crash" style="display: block;"><i class="bi bi-exclamation-circle"></i> CRASH: quelqu'un a quitté le jeu.. <i class="bi bi-exclamation-circle"></i></h1>
          <!-- BUTTON WINNER TOURNAMENT TO GHOST LOBBY -->
          <button type="button" class="btn" style="display: none; background-color: #0e4870; color: #f0ffff" id="buttonGhostLobby" >FINALS HERE</button>
		    </div>
      </div>
    </div>
  </div>
{% endblock %}
