{% block endGame %}
<div class="aftergame" id="aftergame">
    <div class="row align-items-center">
      <div class="col d-flex justify-content-center mb-3">
		<div class="custom-card mt-20">
			<h1><i class="bi bi-trophy"></i>WINNER!<i class="bi bi-trophy"></i></h1> <!--TODO implement selector-->
			<h1><i class="bi bi-cloud-lightning-rain"></i>MEILLEURE CHANCE LA PROCHAINE FOIS!<i class="bi bi-cloud-lightning-rain"></i></h1> <!--TODO implement selector-->
			<h1><i class="bi bi-exclamation-circle"></i>CRASH: quelqu'un a quitté le jeu...<i class="bi bi-exclamation-circle"></i></h1> <!--TODO implement selector-->
		</div>
      </div>
    </div>
  </div>
{% endblock %}
  