<!-- REF MASTER.HTML - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
{% extends 'master.html' %}

	{% block navbar %}
	<div class="row" id="navbarRow">
		{% include 'Selector/selector.html' %}
	</div>
	{% endblock %}

	{% block home %}
	<div class="home" id="buttonModule1" >
		<h1>Acceuil </h1>
		<!-- {% include 'Logo/logo.html' %} -->
	</div>
	{% endblock %}
	
	{% block module2 %}
	<div class="display" id="buttonModule2" >
		<h1> Profile </h1>
		{% include 'Profile/profile.html' %}	
	</div>
	{% endblock %}
	
	{% block module3 %}
	<div class="game" id="buttonModule3" >
		<h1> Module 3 </h1>	

	</div>
	{% endblock %}

	{% block module4 %}
	<div class="list" id="buttonModule4" >
		<h1>LIST</h1>
	</div>
	{% endblock %}

