{% block navbar_all %}

<div class="row" class="NavBar">
    <div class="col">
        <button type="button" class="button"  onclick="select_hero_content(1)" style="background-color: #0e4870; color: #f0ffff" id="buttonModule0"  >Home</button>
    </div>
    <div class="col">
        <button type="button"  class="button" onclick="select_hero_content(2)" style="background-color: #0e4870; color: #f0ffff" id="buttonModule1" >Info</button>
    </div>
    <div class="col">
        <button type="button"  class="button" onclick="select_hero_content(3)" style="background-color: #0e4870; color: #f0ffff" id="buttonModule2" >Game</button>
    </div>
    <div class="col">
        <button type="button"  class="button"  onclick="select_hero_content(3)" style="background-color: #0e4870; color: #f0ffff" id="buttonModule3" >Login</button>
    </div>
</div>
{% endblock %}
