{% block navbar_home %}
<div class="row" class="NavBar">
    <div class="col">
        <button type="button" class="btn" onclick="select_hero_content('info')" style="background-color: #0e4870; color: #f0ffff" id="buttonModuleInfo"  >Profil</button>
    </div>
    <div class="col">
        <button type="button" class="btn" onclick="select_hero_content('game')" style="background-color: #0e4870; color: #f0ffff" id="buttonModuleGame"  >Game</button>
    </div>
    <div class="col">
        <button type="button" class="btn" onclick="select_hero_content('help')" style="background-color: #0e4870; color: #f0ffff" id="buttonModuleHelp"  >Règles/Instructions</button>
    </div>
</div>
{% endblock %}
