
{% block navbar %}
<div class="row" class="NavBar" id="NavBar">
    <div class="col">
        <button type="button" onclick="showSubMenu('Home')" class="button"  style="background-color: #0e4870; color: #f0ffff" id="buttonModule0" class="hidden-button" >Home</button>
    </div>    
    <div class="col">
        <button type="button" onclick="showSubMenu('Info')"  class="button" style="background-color: #0e4870; color: #f0ffff"id="buttonModule1" class="hidden-button" >Info</button>
    </div>
    <div class="col">
        <button type="button" onclick="showSubMenu('Game')"  class="button" style="background-color: #0e4870; color: #f0ffff" id="buttonModule2" class="hidden-button" >Game</button>
    </div>
    <div class="col">
        <button type="button" onclick="showSubMenu('Login')" class="button"  style="background-color: #0e4870; color: #f0ffff"id="buttonModule3" class="hidden-button" >Login</button>
    </div>
</div>
{% endblock %}
