
    {% if request.session.user_id %}
    {% comment %} <div class="row" class="NavBar" id="NavBar0">
        <div class="col">
            <button type="button" onclick="showSubMenu('Home')" class="button"  style="background-color: #0e4870; color: #f0ffff" id="buttonModule0"  >Home</button>
        </div>
        <div class="col">
            <button type="button" onclick="showSubMenu('Info')"  class="button" style="background-color: #0e4870; color: #f0ffff"id="buttonModule1" >Info</button>
        </div>
        <div class="col">
            <button type="button" onclick="showSubMenu('Game')"  class="button" style="background-color: #0e4870; color: #f0ffff" id="buttonModule2" >Game</button>
        </div>
        <div class="col">
            <button type="button" onclick="showSubMenu('Login')" class="button"  style="background-color: #0e4870; color: #f0ffff"id="buttonModule3"  >Login</button>
        </div>
    </div> {% endcomment %}
    {% else %}
    <div class="row" class="NavBar" id="NavBar0">
        <div class="col">
            <button type="button" class="button"  style="background-color: #0e4870; color: #f0ffff" id="buttonModule0"  >Home</button>
        </div>
        <div class="col">
            <button type="button"  class="button" style="background-color: #0e4870; color: #f0ffff" id="buttonModule1" >Info</button>
        </div>
        <div class="col">
            <button type="button"  class="button" style="background-color: #0e4870; color: #f0ffff" id="buttonModule2" >Game</button>
        </div>
        <div class="col">
            <button type="button"  class="button"  style="background-color: #0e4870; color: #f0ffff" id="buttonModule3" >Login</button>
        </div>
    </div>

    {% endif %}
