
<div class="row" class="NavBar" id="NavBar">
    <div class="col-12" >
        
            <button type="button" onclick="loadModule('module3')" class="button"  
            style="background-color: #0e4870; color: #f0ffff; 
            float: right;" id="ModuleBtn">Login</button>
        </div>
    </div>
</div>
<script>

// Function to load a module
function loadModule(moduleName) {
    const moduleContainer = document.getElementById('ModuleContainer');
    moduleContainer.innerHTML = ''; // Clear the container
    }
</script>