
<div class="row" class="NavBar" id="NavBar">
    <div class="col-12" >
        <div id="initModuleContainer">
            <button type="button" onclick="loadModule('init')" class="button"  
            style="background-color: #0e4870; color: #f0ffff; 
            float: right;" id="initModuleBtn">Login</button>
        </div>
    </div>
</div>
<script>

// Function to load a module
function loadModule(moduleName) {
    const initModuleContainer = document.getElementById('initModuleContainer');
    initModuleContainer.innerHTML = ''; // Clear the container
        
        // function initializeModule() {
        //     // Add any additional setup or behavior for the loaded module here
        //     console.log('Module loaded successfully!');
        // }
    }
</script>