
{% block navbar %}
    <div class="row" id="navbarRow">
        <div class="col">
            <button onclick="showSubMenu('home')" class="btn btn-primary" id="displayBtn">Home</button>
        </div>        
        <div class="col">
            <button onclick="showSubMenu('display')" class="btn btn-primary" id="displayBtn">Display</button>
        </div>
        <div class="col">
            <button onclick="showSubMenu('game')" class="btn btn-primary" id="gameBtn">Game</button>
        </div>
        <div class="col">
            <button onclick="showSubMenu('option')" class="btn btn-primary" id="optionBtn">Option</button>
        </div>
        <div class="col" class="rgt_flt" >
            <button  onclick="toggle()" id="btn" type="btn">LOGIN</button>
        </div>
    </div>
{% endblock %}