<div class="mode" id="mode">
	<div class="row align-items-center">
		<div class="col d-flex flex-column align-items-center justify-content-center">
			<h1>Choisis une des deux options suivantes</h1>
			<div class="btn-group">
				<button type="button" class="btn" style="background-color: #0e4870; color: #f0ffff; font-size: 60px; margin: 10px;" id="local">LOCAL</button> <!--TODO redirection-->
				<button type="button" class="btn" style="background-color: #0e4870; color: #f0ffff; font-size: 60px; margin: 10px;" id="online">ONLINE</button> <!--TODO redirection-->
			</div>
		</div>
	</div>
</div>