{% comment %} <div class="type" id="type">
    <div class="row align-items-center">
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <h1>Choisis une des deux options suivantes</h1>
            <div class="btn-group">
                <button type="button" class="btn" style="background-color: #0E4870; color: #F0FFFF; font-size: 60px; margin: 10px;" id="2players">2 joueurs</button>
                <button type="button" class="btn" style="background-color: #0E4870; color: #F0FFFF; font-size: 60px; margin: 10px;" id="1player">1 joueur</button>
            </div>
        </div>
    </div>
</div> {% endcomment %}